/* Estilo básico da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    color: #333;
}

button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d32f2f;
}

/* Estilo do botão "Excluir Todos" */
.delete-all-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    margin-top: 20px;
}

.delete-all-button:hover {
    background-color: #d32f2f;
}

/* Estilo para exibir os dados (nome, telefone e pontuação) */
.ranking-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ranking-item div {
    margin-right: 10px;
}

.ranking-item span {
    font-weight: bold;
    color: #333;
}
